# Android
/android/app/debug/
/android/app/profile/
/android/app/release/

# Build
.pub-cache/
.pub/
**/build/

# Coverage
/coverage/

# Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/

# Flutter
**/ios/Flutter/.last_build_id

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
.atom/

#iOS
ios/Pods/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/build/

# Logs and databases
*.log
.history

# macOS
.DS_Store
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/build/

# Obfuscation
app.*.map.json

# Symbolication
app.*.symbols

# System Files
*.class
*.pyc
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
desktop.ini
.env
.env.*
lib/env_local_*.dart
SCRATCHPAD.md
